<div class="container">
    <h2 style="align-content: center !important;">Register</h2>
    <hr>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="username">UserName</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="first_name">First Name</label>
                <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                    <div *ngIf="f.first_name.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="last_name">Last Name</label>
                <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                    <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8" >
                <label for="school_name">School Name</label>
                <input type="text" formControlName="school_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.school_name.errors }" />
                <div *ngIf="submitted && f.school_name.errors" class="invalid-feedback">
                    <div *ngIf="f.school_name.errors.required">School Name is required</div>
                </div>
            </div>
             <div class="form-group col-md-4">
                 <label for="logo">Logo</label>
                 <input type="file" formControlName="logo" class="form-control-file" [ngClass]="{ 'is-invalid': submitted && f.logo.errors }" />
                 <div *ngIf="submitted && f.logo.errors" class="invalid-feedback">
                     <div *ngIf="f.logo.errors.required">Logo is required</div>
                 </div>
             </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email Address is required</div>
                </div>
            </div>
            <div class="form-group col-md-7">
                <label for="tel">Phone Number</label>
                <input type="number" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                    <div *ngIf="f.tel.errors.required">Phone Number is required</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text-area" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">School Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="region">State/Region</label>
                <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
                <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                    <div *ngIf="f.region.errors.required">State/Region is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bvn">BVN</label>
                <input type="text" formControlName="bvn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bvn.errors }" />
                <div *ngIf="submitted && f.bvn.errors" class="invalid-feedback">
                    <div *ngIf="f.bvn.errors.required">BVN is required</div>
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="account_number">Account Number</label>
                <input type="number" formControlName="account_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.account_number.errors }" />
                <div *ngIf="submitted && f.account_number.errors" class="invalid-feedback">
                    <div *ngIf="f.account_number.errors.required">Account Number is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
