<div id="search-component" class="text-center" >
    <input #searchBox id="search-box" name="search" placeholder="Search by School name or location..." (keyup)="search(searchBox.value)"/>
    <button class="btn btn-default" type="submit" routerLink="/schools">
        <i class="fas fa-search" aria-hidden="true"></i> List All Schools
    </button>
    <div class="search-result">
        <ul >
            <li *ngFor="let user of users | async">
                <a routerLink="/school/{{user.id}}">
                    {{user.name}}
                </a>
            </li>
        </ul>
    </div>
</div>




