<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="nav navbar-brand" href="/"><img src="../assets/img/logo.PNG" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/register" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div id="app-body" style="align-content:center">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
<footer class="navbar-expand-lg navbar-fixed-bottom">
    <p>©2018 <a style="color:#0a93a6; text-decoration:none;" href="http://payraven.com.ng">PayRaven</a>. All Rights Reserved.</p>
</footer>
