<button (click)="goBack()">go back</button>
<div *ngIf="user">
  <img src="{{ user.logo }}"><h2>Welcome to {{ user.schoolName }} details page </h2>
    <div>
        <p>Name: {{ user.schoolName }}</p>
        <p>Address: {{ user.address }}</p>
        <p>Region: {{ user.region }}</p>
        <p>Phone Number: {{ user.tel }}</p>
    </div>
    <div>
        <p>Description: {{ user.description }}</p>
    </div>
    <h3>Fees</h3>
    <p>click a fee card to pay</p>
    <div *ngFor="let fee of user.fees">
        <p>{{ fee.name }}</p>
        <p>{{ fee.amount }}</p>
        <p>{{ fee.description }}</p>

    </div>

</div>
<!--TODO: DESIGN Fees Cards-->
<!--Todo: pay button-->
